base_path=/Users/tassiovalle/Documents/optical-mark-recognizer/upt
question_blocks_quantity=5
questions_per_block_quantity=20
question_index_initial_value=1
total_questions=90
dark_pixel_threshold=200
exam_identifier_start_x=250
exam_identifier_start_y=520
exam_identifier_height=68
exam_identifier_width=1196
exam_identifier_whitelist=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
column_spacing=8
block_spacing=130
row_spacing=11
circle_width=49
circle_height=49
black_pixels_threshold=1000
min_bubble_size=30