base_path=/Users/tassiovalle/Documents/repos-ness/optical-mark-recognizer/arquivos/teste
question_blocks_quantity=2
questions_per_block_quantity=10
question_index_initial_value=1
total_questions=15
dark_pixel_threshold=100 
exam_identifier_offset_x=335
exam_identifier_offset_y=750
exam_identifier_height=100
exam_identifier_width=250
exam_identifier_whitelist=0123456789
column_spacing=2
block_spacing=263
row_spacing=11
circle_width=35
circle_height=35
black_pixels_threshold=150
min_bubble_size=25
bubble_search_y_initial_value=400
second_bubble_x_offset=165
second_bubble_y_offset=180