base_path=/Users/tassiovalle/Documents/optical-mark-recognizer/arquivos
question_blocks_quantity=4
questions_per_block_quantity=30
dark_pixel_threshold=200
name_start_x=175
name_start_y=295
name_height=100
name_width=1220
column_start_x=326
column_spacing=47
block_spacing=570
row_start_y=1613
row_spacing=48
circle_width=41
circle_height=41
black_pixels_threshold=1000
question_index_initial_value=91